@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  margin: 0;
}
:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --step-6: clamp(4.72rem, calc(3rem + 2.98vw), 5.32rem);
}
html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  color: #000;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}
h1 {
  font-size: var(--step-3);
  font-weight: 500;
}
h2 {
  font-size: var(--step-2);
  font-weight: 400;
}

p {
  font-size: var(--step-1);
  opacity: 70%;
  font-weight: 300;
  line-height: 1.4;
}

b,
strong {
  font-weight: 400;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;

  font-size: var(--step-1);
  color: brown;
}

.menu {
  margin: 0;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
}
.container {
  background: rgb(241, 244, 244);
  max-width: 1400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0 auto;
  overflow: hidden;
}

.heading-main h1 {
  margin-bottom: 7px;
}
.heading-main {
  text-align: center;
}
.heading-main h1::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid orangered;
  max-width: 220px;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
