header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../images/saw-blade-gee55053c2_1920.jpg);

  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 55% 0%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: clamp(4.72rem, 2vh, 5.32rem);
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 3px 10px 1px 10px;
  position: fixed;
  width: 100%;
  max-width: inherit;
}
.nav-links li {
  text-align: center;
  flex-grow: 1;
  height: 40px;
}
.nav-ancor {
  font-size: var(--step-3);

  color: whitesmoke;
  font-weight: 500;
}

.nav-links a:hover {
  color: orangered;
}

.burger {
  position: relative;
  top: 11px;
  left: 85%;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 0 5px 5px 5px;
  transition: all 0.3s ease;
}
.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
}

.button-sets {
  display: block;
  background-color: transparent;
  border-radius: 6px;
  width: 95%;
  margin: auto;
  padding: 4px 0 5px 0;
  cursor: pointer;
}
.button-sets a {
  color: azure;
}

.button-1 {
  margin-bottom: 10px;
  background-color: rgb(255, 69, 0);
}
.button-1:hover {
  background: rgba(255, 69, 0, 0.2);
  transition: background 0.5s;
}
.button-2:hover {
  background: rgba(255, 69, 0, 0.2);
  transition: background 0.5s;
}

.logo {
  width: 30%;
}
