header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/images/saw-blade-gee55053c2_1920.jpg);

  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 55% 0%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: clamp(4.72rem, 2vh, 5.32rem);
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 3px 10px 1px 10px;
  position: fixed;
  width: 100%;
  max-width: inherit;
}
.nav-links li {
  text-align: center;
  flex-grow: 1;
  height: 40px;
}
.nav-links a {
  font-size: var(--step-3);

  color: whitesmoke;
  font-weight: 500;
}

.nav-links a:hover {
  color: orangered;
}

.burger {
  position: relative;
  top: 11px;
  left: 85%;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 0 5px 5px 5px;

  transition: all 0.3s ease;
}
.logo {
  width: 404px;
  position: relative;
  top: 194px;
  left: 10%;
}
.buttons {
  position: absolute;
  top: 461px;
  left: 154px;
}
.buttons a {
  text-decoration: none;
  padding: 50px;
  margin: 10px;
}
.button-sets {
  padding: 1px 0 6px;
  border-radius: 10px;
}
.button-1 {
  background-color: transparent;
  margin-right: 5px;
}
.button-2 {
  background-color: orangered;
}
.button-2 a {
  color: azure;
}
.button-1 a {
  color: azure;
}
.button-1:hover {
  background-color: rgba(193, 60, 12, 0.827);
  border: 2px solid rgb(94, 88, 88);
}
.button-2:hover {
  background-color: transparent;
  border: 2px solid rgb(94, 88, 88);
}
