@media only screen and (min-width: 600px) {
  /* Photogallery */
  .grid-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  .flex-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .link-icon {
    width: 80px;
  }
  .link-icon-twit {
    grid-column: 1/5;
    grid-row: 2;
  }
  .brake-line {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  /* feedback */

  .flex-4 {
    display: flex;
    flex-direction: row;
  }
  .flex-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .images img {
    position: relative;
    max-width: 200%;
    right: 260px;
  }
  /* shop-location */

  .shop-flex {
    flex-direction: row-reverse;
  }
  .shop-text {
    flex-grow: 1;
    align-self: center;
  }
  /* footer */
  .flex-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  .link-icon-twit {
    grid-column: 5;
    grid-row: 1;
  }
  .brake-line {
    display: none;
  }
}

@media only screen and (min-width: 980px) {
  /* product */
  .flex-2 {
    display: flex;
    flex-direction: row;
  }
  .flex-2:nth-child(even) {
    flex-direction: row-reverse;
  }
  /* feedback */
  .feedback-area-3 {
    display: inline;
  }
}

@media only screen and (min-width: 1000px) {
  /* Photogallery */
  .grid-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* contact-form */
  input[type="submit"] {
    background-color: #706f6f;
    opacity: 0.5;
  }
  input[type="submit"]:hover {
    transition: background-color 0.5s;
    background-color: #d67e4d;
    opacity: 1;
    color: #000;
    opacity: 1;
  }
}
@media screen and (max-width: 1013px) {
  /* logo */
  .logo {
    width: 188px;
    top: 10px;
    left: 3%;
  }
  /* menu */
  .nav-links {
    /* position: absolute; */
    width: 40%;
    left: 61%;
    height: 92vh;
    top: 8vh;
    border-radius: 100px 0 0 37px;
    flex-direction: column;
    align-items: center;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    padding-top: 7px;
  }
  .burger {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 2px 5px 2px;
    border-radius: 6px;
    z-index: 200;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media only screen and (min-width: 1200px) {
  /* Photogallery */
  .grid-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .img-photo-gallery-hide {
    display: inline;
  }
  .p-gallery-btn {
    display: none;
  }
}
@media screen and (max-width: 466px) {
  /* menu */
  .burger {
    left: 85%;
  }
  .nav-links a {
    font-size: var(--step-2);
  }

  .nav-links li {
    padding: 26px 0;
  }
  .nav-links {
    border-radius: 39px 0 0 18px;
    gap: 5px;
  }
}
@media screen and (max-width: 1356px) {
  .buttons {
    top: 461px;
    left: 79px;
  }
}
@media screen and (max-width: 1200px) {
  /* logo */
  .logo {
    width: 188px;
    top: 57px;
    left: 6%;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 351px;
    left: 55px;
  }
}
