@media only screen and (min-width: 600px) {
  /* Photogallery */
  .grid-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 650px) {
  /* feedback */

  .flex-4 {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 850px) {
  .flex-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .images img {
    position: relative;
    max-width: 200%;
    right: 260px;
  }
  /* shop-location */

  .shop-flex {
    flex-direction: row-reverse;
  }
  .shop-text {
    flex-grow: 1;
    align-self: center;
  }
}
@media only screen and (min-width: 980px) {
  /* product */
  .flex-2 {
    display: flex;
    flex-direction: row;
  }
  .flex-2:nth-child(even) {
    flex-direction: row-reverse;
  }
  /* feedback */
  .feedback-area-3 {
    display: inline;
  }
}
@media only screen and (min-width: 1000px) {
  /* Photogallery */
  .grid-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1080px) {
  .images img {
    right: 199px;
  }
}
@media only screen and (min-width: 1200px) {
  /* Photogallery */
  .grid-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .img-photo-gallery-hide {
    display: inline;
  }
  .p-gallery-btn {
    display: none;
  }
}
