* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***Reusable***/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  max-width: 1140px;
  margin: auto;
}

#logo img {
  width: 200px;
  position: absolute;
  top: 32%;
  left: 15%;
}

.heading-main h2 {
  text-align: center;
  margin-top: 20px;
}

.heading-main h2:after {
  content: "";
  display: block;
  width: 150px;
  border-bottom: 2px solid #dc4f00;
  margin: 20px auto;
}

.heading-main h5 {
  text-align: left;
  font-size: 15px;
}

.heading-main h5:hover {
  color: #dc4f00;
}

/***Header***/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("/images/saw-blade-gee55053c2_1920.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-84%, -50%);
}

.header-text h1 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  word-spacing: 3.5px;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #ff7c32;
  border-radius: 10px;
  margin-top: 7px;
  padding: 5px 10px;
  letter-spacing: 1.2px;
}

.btn-full {
  background: #dc4f00;
}

.btn-empty {
  margin-left: 10px;
}

.btn-full:link,
.btn-full:visited {
  background: #dc4f00;
}

.btn-full:hover,
.btn-full:active {
  transition: 0.5s;
  background: #a93d00;
}

.btn-empty:link,
.btn-empty:visited {
  margin-left: 5px;
  background: transparent;
}

.btn-empty:hover,
.btn-empty:active {
  transition: 0.5s;
  background: #a93d00;
  border: 1px solid #a93d00;
}

/***Menu***/
nav ul {
  float: left;
  margin-top: 40px;
  margin-left: 268px;
}

nav ul li {
  display: inline-block;
  color: #fff;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:link,
nav ul li a:visited {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active {
  transition: border-botoom 0.5s;
  border-bottom: 2px solid #dc4f00;
}

/***about us***/

div .about-company {
  text-align: justify;
  font-size: 18.7px;
}

/***Info about shop***/

.shop-question h3 {
  text-align: center;
}

.shop-info p {
  font-size: 20px;
  text-align: center;
}

.map-navigation {
  position: relative;
  top: 0;
  left: 0;
}

.map-navigation-1 {
  max-width: 600px;
  max-height: 400px;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 200;
}

.map-navigation-2 {
  max-width: 600px;
  max-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 4px 6px 10px #000;
  z-index: 100;
}

.map-info a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #a93d00;
}

.map-info a:hover,
.map-info a:active {
  transition: 0.5s;
  color: #e2824b;
  border-bottom: 2px solid #a93d00;
}

.map-info {
  text-align: center;
}

.open-time {
  text-align: center;
  font-size: 20px;
}

.open-weight-b {
  font-weight: 600;
}

/*** Products***/
.section-example img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 6px 10px #000;
}

.name-of-product {
  text-align: center;
  margin-bottom: 20px;
}

.product-name {
  font-size: 20px;
  margin-left: 160px;
  margin-top: 10px;
}

.product-name li {
  padding-top: 30px;
}

/* product for mobile */
.product-for-mobile {
  display: none;
}

/***Recenzie***/
.referencie {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("/images/shutterstock_106827413-1000x357.jpg");
  background-attachment: fixed;
  height: 40vh;
  background-size: cover;
}

.merge-down {
  padding-top: 25px;
}

.referencie h2 {
  color: #fff;
}

.text-of-recenzie {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.recension .col {
  margin: 1% 0 1% 1%;
}

.name-of-recent {
  padding: 13px;
  margin-left: 60px;
  font-style: normal;

  font-weight: 600;
  text-align: right;
  margin-top: 15px;
  color: #fff;
  font-style: italic;
}

.picture-of-recent {
  width: 90px;
  float: right;
  border-radius: 50px;
  margin-left: 50px;
}

/* Photogallery */
.photo-gallery {
  margin-top: 15px;
}

.photo-segment div {
  border: 1px solid #000;
  list-style-type: none;
  background-color: #000;
  overflow: hidden;
  height: 300px;
}

.photo-segment img {
  width: 100%;
  height: 300px;
  opacity: 0.5s;
  transform: scale(1.15);
}

.photo-segment div img:hover {
  transition: transform 0.5s opacity 0.9s;
  transform: scale(1);
  opacity: 0.7;
}

/* photo-galery-mobile */
.photo-segment-mobile {
  display: none;
}

/* Contact-form */
.contact-form {
  max-width: 700px;
  text-align: center;
}

.contact-form input {
  width: 80%;
  margin: 5px 0px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

.contact-form textarea {
  width: 80%;
  margin: 5px 0px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  background-color: #aa4309;
  color: #000;
  font-size: 20px;
}

input[type="submit"]:hover {
  transition: background-color 0.5s;
  background-color: #d67e4d;
  color: #000;
}

/* footer */
.footer-page {
  background-color: #aa4309;
  margin-top: 10px;
}

.copy-write {
  padding-top: 5px;
}

.icons-all {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;
}

.social-icon {
  max-width: 40px;
  margin-left: 50px;
}

.link-icon {
  display: inline;
}

.copy-write p {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.social-icon:hover,
.social-icon:visited {
  transition: background-color 0.5s;
  background-color: #da560c;
  border-radius: 10px;
}

/* footer-page-for-mobile */
.footer-page-mobile {
  display: none;
  background-color: #aa4309;
}

.social-icon-mobile {
  max-width: 40px;
  margin-left: 30px;
}

/***** Stop floating - až na konec CSS *****/
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
